.homepage-image img {
    width: 165.63px;
    height: 292px;
    filter: drop-shadow(0px 0px 17.6435px rgba(0, 0, 0, 0.05));
    border-radius: 13.2326px;
    padding: 2em;
}
.main-text {
    margin: 19px;
}
.main-subtext {
    padding: 0 2em;
}
